.signup{
    height: 100vh;
    width: 100vw;

}
input{
    height: 60px;
    width: 800px;
    border:1px solid  rgba(0, 0, 0, 0.78);
    padding: 0 10px;
    border-radius: 5px;
    outline: none;
}


.row{
    display: flex;
    align-items: center;
    justify-content: center;
  
}

h1{
    opacity: 0.8;
}
.box1{
display: flex;
flex-direction: column;
gap: 34px;
}

input{
    outline: none;
}


.btn:active {
  background-color: #1e3a8a;
  transform: scale(0.97);
}


/* .input {
  width: 100%;
  padding: 10px 14px;
  border-radius: 6px;
  border: none;
  outline: none;
}

.btn {
  padding: 10px;
  border-radius: 6px;
  font-weight: bold;
} */

.signup{
    height: 80vh;
    width: 100vw;
      /* height: calc(100vh - 300px); */
}


/* default (desktop) */
input{
    height: 60px;
    width: 800px;
    border:1px solid rgba(0, 0, 0, 0.78);
    padding: 0 10px;
    border-radius: 5px;
    outline: none;
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    opacity: 0.8;
}

.box1{
    display: flex;
    flex-direction: column;
    gap: 34px;
}

input{
    outline: none;
}

.btn:active {
    background-color: #1e3a8a;
    transform: scale(0.97);
}

/* ================= RESPONSIVE ================= */

/* Tablets */
@media (max-width: 1024px) {
    input{
        width: 600px;
    }

    .box1{
        gap: 28px;
    }
     h1{
        font-size: 55px;
        text-align: center;
    }
}

/* Mobile */
@media (max-width: 768px) {
    input{
        width: 90%;
        height: 55px;
    }

    .box1{
        gap: 24px;
    }

    h1{
        font-size: 49px;
        text-align: center;
    }
}

/* Small Mobile */
@media (max-width: 480px) {
    input{
        width: 95%;
        height: 50px;
        font-size: 14px;
    }

    .box1{
        gap: 20px;
    }

    h1{
        font-size: 45px;
    }
}

